<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonoAppDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A26D2F51ECEC67D00169184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A26D3091ECEC67D00169184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A26D3141ECEC67D00169184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
